body{
    background-color: #f7dad9;

}
table{
    color: black;
}
.grid-container {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: auto ;
  padding: 0px 1000px 50px 0px;
  grid: column;
}

.grid-item {
 
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 30px;
  text-align: Left;
}
.btn{
    background-color: linear-gradient(#);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



